<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post</title>
    <style>
        h1 {
            text-align: center;
            background-color: tomato;
            color: white;
            margin-top: 0px;
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1>Welcome to the Blog Post Site</h1><hr>
    {% for i in blogData %}
        {{ i.title }}
        <br/>
        {{ i.description | safe }}
        <br/><hr/>
    {% endfor %}
</body>
</html>